@model LibraryMvc.Models.Patron.DetailModels.PatronDetailModel

<div class="container">
  <div class="header clearfix detail-heading my-4 ml-3">
    <h2 class="text-muted">Patron Information</h2>
  </div>

  <div class="jumbotron">
    <div class="row">
      <div class="col-md-4">
        <h2>@Model.FullName</h2>

        <div class="patron-contact">
          <div class="patron-card-id">Library Card Id: @Model.LibraryCardId</div>
          <div class="patron-address">Address: @Model.Address</div>
          <div class="patron-tel">Telephone Number: @Model.Telephone</div>
          <div class="patron-date">Member Since: @Model.MemberSince</div>
          <div class="patron-library">Home Library: @Model.HomeLibraryBranch</div>
          @if (@Model.OverdueFees > 0)
          {
            <div id="patron-has-fees">Current Fees Due: $@Model.OverdueFees</div>
          }
          else
          {
            <div id="patron-no-fees">No Fees Currently Due.</div>
          }
        </div>
      </div>

      <div class="col-md-4">
        <h3>Assets Currently Checked Out</h3>

        @if (@Model.AssetsCheckedOut.Any())
        {
          <div id="patron-assets">
            <ul>
              @foreach (var checkout in @Model.AssetsCheckedOut)
              {
                <li>
                  @checkout.LibraryAsset.Title - (Library Asset ID: @checkout.LibraryAsset.Id)
                  <ul>
                    <li>Since: @checkout.Since</li>
                    <li>Due: @checkout.Until</li>
                  </ul>
                </li>
              }
            </ul>
          </div>
        }
        else
        {
          <div>No items currently checked out.</div>
        }
      </div>

      <div class="col-md-4">
        <h4>Assets Currently On Hold</h4>

        @if (@Model.Holds.Any())
        {
          <div id="patron-holds">
            <ul>
              @foreach (var hold in @Model.Holds)
              {
                <li>@hold.LibraryAsset.Title - Placed @hold.HoldPlaced.ToString("dd-MM-yy - HH:mm")</li>
              }
            </ul>
          </div>
        }
        else
        {
          <div>No items on hold.</div>
        }
      </div>
    </div>
  </div>
</div>